@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@500&family=Fira+Code:wght@300;400;600&family=Open+Sans:wght@300;400;700;800&family=Patua+One&family=Roboto&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
